---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<p class="text-black text-6xl  ">Eleven soft - about</p>
	</main>
</Layout>
