---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
---
<!-- Página principal -->
<Layout title="ElevenSoft"> 
	<!-- contenedor que ocupa el ancho de la pantalla con justificacion al inicio en pantalla grande -->
	<section class="w-full h-[80%] overflow-y-auto flex justify-center md:justify-start px-10 py-10">
		<Home />
	</section>
</Layout>
