---
import LoginTag from "./LoginTag.astro";
import NavBar from "./NavBar";
import ElevensoftLogo from '../utils/icon/logo.png'
---
<!-- Componente personalizado de Header que muestra un logo + navbar + boton login -->
<section class="w-full flex flex-col-reverse gap-4 md:flex-row items-center justify-around py-4 px-4 bg-white bg-opacity-50 ">
    <img src={ElevensoftLogo.src} alt="" srcset="">
    <NavBar 
		transition:persist
		client:visible
	>
	</NavBar>
    <LoginTag />
</section>