---
import Tecnologies from "./Tecnologies.astro";
---

<section class="md:w-[50%] my-auto flex  flex-col items-center justify-center gap-[67px]">
    <p class="text-[24px] text-center text-white md:text-[64px] font-bold ">
        Diseño y Desarrollo <br>
        de software
    </p>
    <Tecnologies/>
</section>