---
import Tecnologies from "./Tecnologies.astro";
---
<!-- Componente Home -->
<!-- Ocupa la mitad de pantalla y se justifica al inicio (izq) -->
<section class="md:w-[50%] my-auto flex  flex-col items-center justify-center gap-[67px]">
    <p class="text-[24px] text-center text-white md:text-[64px] font-bold ">
        Diseño y Desarrollo <br>
        de software
    </p>
    <!-- LLamado al componente tecnologías -->
    <Tecnologies/>
</section>