<section class="flex flex-col gap-6 items-center bg-black opacity-75 px-6 py-8 rounded-3xl">
    <p class="text-[32px] text-white font-bold">Tecnologías</p>
    <div class="flex justify-center gap-8 flex-wrap">
        <img class="w-[80px] h-[80px]" src="logo_react.fc9927f4.png" alt="" srcset="">
        <img class="w-[80px] h-[80px]" src="logo_angular.c75f2e26.png" alt="" srcset="">
        <img class="w-[80px] h-[80px]" src="logo_python.78b55d86.png" alt="" srcset="">
        <img class="w-[80px] h-[80px]" src="logo_postgresql.1aaf7ff0.png" alt="" srcset="">
        <img class="w-[80px] h-[80px]" src="logo_html.d885587c.png" alt="" srcset="">
        <img class="w-[80px] h-[80px]" src="logo_css.e503be4b.png" alt="" srcset="">
    </div>
</section>