---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props { //Propiedad que recibe el título
	title: string;
}

const { title } = Astro.props; //Se carga el título en una constante
---
<!-- Este layout se encarga de mostrar el Header y el Footer en cada vista de la página -->
<!doctype html>
<html lang="en" class="p-4 w-full h-full" 
		
	  >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="viewport" content="" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Se activa transiciones suaves entre páginas -->
		<ViewTransitions />
	</head>

	<body class="w-full h-screen relative ">
	<!-- LLamado al componente Header -->
	 <Header />
	 <!-- el slot es el espacio donde se muestra el contenido de las paáginas donde se llama el layout -->
		<slot />
	<div class="w-full">
		<!-- LLamado al componente Footer -->
		<Footer /> 
	</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-image: url("/src/utils/icon/fondo con capa.png");
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-size: cover;
	}

</style>
